/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 11, 2023, 11:42:08 PM
    Author     : nqtie
*/
.header_menu{
    width: 100%;
    position: fixed;
    top: 0;
}
#header {
    justify-content: space-around;
    display: flex;
    align-items: center;
    background-color: rgb(236, 230, 222);
}

#header_left img {
    width: 30%;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px 10px 5px 10px;
}

.slogan_name {
    font-family: Harrington;
}

#header_left {
    text-decoration: none;
    color: black;
    width: 30%;
    display: flex;
    align-items: center;
}

#header_middle button {
    margin-left: -5px;
    padding: 4px;
    background-color: #E4DCD1;
}

#header_middle input {
    width: 300px;
    padding: 4px 50px 4px 0px;
}

#header_middle {
    display: flex;
    width: 30%;
}

#header_right i {
    font-size: 20px;
    margin-right: 10px;
}

#header_right {
    margin-top: 10px;
    width: 20%;
}

#header_right a {
    text-decoration: none;
    color: black;
}

#menu {
    background-color: #E4DCD1;
    max-width: 100%;
}

#main-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}


#main-menu li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 70px;
}

#main-menu li:hover {
    background-color: rgb(236, 233, 233);
}

#main-menu li {
    position: relative;
}

#edit_info {
    position: fixed;
    width: 200px;
    height: 500px;
    background-color: rgb(236, 230, 222);
    list-style: none;
    padding: 0;
    margin: 0;
}

#edit_info li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px 10px;
    text-align: center;
}

#edit_info li:hover {
    background-color: rgb(236, 233, 233);
}

#info_display {
    margin-top: 172px;
    display: flex;
}

#info_display_content {
    margin-top: 10px;
    margin-left: 220px;
    width: 100%;
}

#info_display_content table {
    width: 100%;
    text-align: center;
}

#header_right ul li {
    list-style: none;
}

#header_right ul li a {
    text-decoration: none;

}

#header_right {
    position: relative;
}

.menu_login {
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    background-color: rgb(236, 233, 233);
    display: none;
    z-index: 2;
}
.menu_login li{
    display: flex;
    align-items: center;
    margin-left: -40px;
    border: 1px solid black;
    box-sizing: border-box;
    width: 150px;
    height: 30px;
}
.menu_login li a {

}

#header_right:hover .menu_login {
    display: block;
}
.headerSearch td{
    text-align: left
}
#info_displayDetail{
    border-radius: 20px;
    padding: 20px 5%;
    border :1px solid black;
    box-shadow: 3px 3px 3px 3px black;
    width: 80%;
    margin-top: 20px;
    margin-left: 210px;
}
.info_displayDetailinFoUser tr td{
    padding-bottom: 5px;
}
.ProInOrderDetail{
    border-collapse:collapse;
    border: 1px solid black;
    width: 90%;
    padding: 10px auto;
    margin-top: 20px;
}
.ProInOrderDetail tr td,th{
    padding: 5px;
    border-bottom: 1px solid black;
}
.statisticOrder{
    margin-top: 20px;
    margin-bottom: 20px;
}
.statisticOrder tr{
   display: flex;
   justify-content: space-around;
}
.statisticOrderDetail {
    background-color: rgb(236, 233, 233);
    width: 20%;
    padding: 40px 0;
    border :1px solid black;
    box-shadow: 3px 3px 3px 3px black;
}
.statisticOrderDetail a{
    text-decoration: none;
    color: black;
}